---
layout: default
---

<div class="container">
	<h1><a href=''>Atividades</a></h1>
</div>
<div class="container">
	<center>
		<a name="marco"><h2><b>MARÇO</b></h2></a>
		<hr>
		<p><sub><b>NÃO DEIXE UM DIA BOM TE DISTRAIR DE TODOS OS ERROS QUE VOCÊ JÁ FEZ</b></sub></p>
		<table class="calendar">
			<tr>
				<td style="border-width: 0px"></td>
				<th>Seg</th>
				<th>Ter</th>
				<th>Qua</th>
				<th>Qui</th>
				<th>Sex</th>
				<th>Sab</th>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Manhã</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="3">Tarde</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td style="border-width: 1px 0px 1px 0px" rowspan="2">Noite</td>
				<td><a href="#oficinademalware"><sup>20:00</sup><br>Malware</a></td>
				<td></td>
				<td><a href="#ctfs"><sup>20:00</sup><br>CTFs</a></td>
				<td></td>
				<td></td>
				<td style="border-right-width: 0px"></td>
			</tr>
			<tr>
				<td></td> <td></td> <td></td> <td></td> <td></td> <td style="border-right-width: 0px"></td>
			</tr>
		</table>
	</center>
	<small>Você também pode olhar a lista de todos os calendários de atividades feitos até agora <a href="calendarios.html">aqui</a>.</small>
</div>
<h3 class='subtitle'><a name="ctfs">Encontros de CTF</a></h3>
<div class="container">
	<p>Nos reunimos para resolver desafios de CTF.</p>
</div>
<h3 class='subtitle'><a name="sessoes">Aulas teóricas e práticas</a></h3>
<div class="container">
	<p>Utilizando desafios de “Capture The Flag”, os integrantes dão aulas envolvendo conceitos e práticas da computação importantes para a atuação na área de segurança da informação. Sendo assim, misturam teoria e prática e tornam o aprendizado mais divertido e atrativo para os interessados.</p>
</div>
<h3 class='subtitle'><a name="site">Site</a></h3>
<div class="container">
	<p>O propósito do site é que sirva como uma enciclopédia em português sobre ferramentas, técnicas e outros conceitos importantes para aqueles que se interessam e estão começando na área de segurança.</p>
	<p>Repositório: <a href="https://gitlab.com/intheshell/site" target="_blank">gitlab.com:intheshell/site&#x2197;</a></p>
</div>
<h3 class='subtitle'><a name="writeups">Write Ups</a></h3>
<div class="container">
	<p>Esta técnica consiste em descrever a resolução dos desafios de Capture The Flag realizados pelo grupo. Estes documentos são amplamente utilizados na comunidade também como forma de aprendizado, tanto para quem está escrevendo (reafirmando o conhecimento obtido ao “capturar a bandeira”), como para quem está lendo (conhecendo técnicas, raciocínios e ferramentas antes desconhecidas).</p>
</div>
<h3 class='subtitle'><a name="oficinas">Oficinas</a></h3>
<div class="container">
	<p>Além das aulas, o grupo se mobilizou para fazer oficinas internas sobre temas relevantes para segurança da informação, como o funcionamento de um malware (qualquer software malicioso).</p>
	<h4><a name="oficinademalware">Oficina de Malware</a></h4>
	<p class="tab">Nos reunimos para desenvolver juntos um <a>Trojan</a> em C para atacar sistemas operacionais <a>Linux</a>.</p>
	<p class="tab">O malware é um <a>RAT (Remote Access Tool)</a> feito para mostrar as possibilidades de um programa e contém funcionalidades diversas incluindo: <a>Fork Bomb</a>, <a>RCE</a> e coleta de informações.</p>
	<p class="tab">Funcionalidades em consideração/desenvolvimento: <a>botnet</a> e update de funcionalidades sem a reexecução do <a>Trojan</a> pela vítima.</p>
	<p class="tab">Repositório: <a href="https://gitlab.com/intheshell/projetos/malware" target="_blank">gitlab.com:intheshell/projetos/malware&#x2197;</a></p>
</div>
<h3 class='subtitle'><a name="palestras">Palestras</a></h3>
<div class="container">
	<p>Organização de palestras de conscientização relacionadas à segurança de dados, desenvolvimento seguro e outros tópicos. As palestras são abertas para público geral, principalmente aquelas relacionadas à proteção de dados pessoais, visto que, na pandemia, tem aumentado o número de golpes cibernéticos e há uma urgência em conscientizar mais as pessoas sobre golpes e como se protegerem no ambiente online.</p>
</div>
<h3 class='subtitle'><a name="podcast">Podcast</a></h3>
<div class="container">
	<p>Em parceria com os alunos do PET-SI, o grupo gravará episódios sobre segurança da informação com o intuito de explicar como ataques cibernéticos funcionam e como as pessoas podem se defender deles. Será utilizada uma linguagem acessível para que todos os públicos interessados possam compreender sem perda de informação.</p>
</div>
<h3 class='subtitle'><a name="ctfs">Time de CTF</a></h3>
<div class="container">
	<p>Além de serem utilizados como forma de aprendizado sobre segurança da informação, os desafios de “Capture The Flag” também compõem um cenário competitivo em que times disputam entre si para quem resolve mais desafios no tempo estipulado do campeonato.</p>
	<p>No começo de 2021, o grupo participou de uma competição de CTF global chamada “JustCTF”. Na ocasião, o time ficou em terceiro lugar das equipes brasileiras que estavam participando.</p>
</div>
<h3 class='subtitle'><a name="ctfssi">CTF para a Semana de Sistemas de Informação</a></h3>
<div class="container">
	<p>O grupo foi chamado pela Comissão Organizadora da SSI para elaborar uma competição de CTF para os alunos de SI.</p>
</div>
<h3 class='subtitle'><a name="encabertos">Encontros abertos</a></h3>
<div class="container">
	<p>A fim de disseminar o conhecimento de cibersegurança e reafirmar o propósito de servir como porta de entrada para a área, o grupo ministrou aulas abertas para o público interessado sobre o conteúdo básico para começar na área.</p>
	<p>O feedback foi positivo e os participantes sentiram que, após as aulas, se tornaram mais aptos a procurar mais conteúdo sobre o assunto.</p>
	<p>Em maio de 2021 será ministrado outro encontro aberto para o público geral, mas também com os intuitos de: divulgar o grupo e suas atividades para os ingressantes e servir como um treinamento para aqueles que se interessarem em participar do CTF-SSI.</p>
	<h4><a name="encontros0x01">Encontros 0x01</a></h4>
	<p class="tab">Encontros abertos ao público com o objetivo de introduzir pessoas ao conhecimento básico de todo hacker.</p>
</div>

