---
layout: enciclopedia
title: Capture The Flag
type: termo
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p><a href=''>CTFs</a> (<a href=''>Capture The Flags</a>) são um conjunto de desafios cujo objetivo é testar e aprimorar os conhecimentos sobre hacking.</p>
</div>

