---
layout: enciclopedia
title: Wordlist
type: termo
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p><a href=''>Wordlists</a> são arquivos que contém uma lista das mais prováveis possibilidades para um dado contexto.</p>
	<p>Normalmente você encontra <a href=''>wordlists</a> de senhas, nomes de usuário e pastas escondidas em sites, mas existem várias diferentes possibilidades e contextos em que usar uma <a href=''>wordlist</a> é útil.</p>
</div>

