---
layout: enciclopedia
title: steghide
type: ferramenta (linux, mac, windows)
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p><code>Steghide</code> é uma programa de  que consegue esconder e recuperar informação dentro de imagens e arquivos de áudio.</p>
		<p>Gambiarra para rodar steghide no macOS X <a href='https://gist.github.com/cedriczirtacic/f6e4c200a91dbf4840dde15fda35eff9'>AQUI&#x2197;</a>.</p>
</div>
<h4 class='subtitle' id='info'>Informação:</h4>
<div class='container'>
	<p>
		<code> steghide info [-p] &lt;arquivo&gt;</code>
	</p>
		<ul>
			<li>
				<b>-p &lt;senha&gt;</b> (funciona nos 3 modos): senha que foi usara para embutir o arquivo.
			</li>
		</ul>
	<p>
		Ver informações (metadados) sobre o arquivo embutido.
	</p>
</div>
<h4 class='subtitle' id='extração'>Extração:</h4>
<div class='container'>
	<p>
		<code>steghide extract -sf &lt;arquivo1&gt; -xf &lt;arquivo2&gt; -p &lt;senha&gt;</code>
	</p>
	O "<code>arquivo1</code>" é o arquivo que contém o arquivo embutido e o "<code>arquivo2</code>" é o arquivo que vai ser extraído.
	<ul>
		<li>
			<b>-sf/--stegofile &lt;arquivo&gt;</b>: recebe o arquivo que tem a informação imbutida.
		</li>
		<li>
			<b>-xf/--extractfile &lt;arquivo&gt;</b>: recebe o nome arquivo que vai ser criado após a extração.
		</li>
	</ul>
</div>
<h4 class='subtitle' id='embutir'>Embutir:</h4>
<div class='container'>
	<p>
		<code> steghide embed -ef &lt;arquivo1&gt; -cf &lt;arquivo2&gt; -p &lt;senha&gt; [opções]</code>
	</p>
	O "<code>arquivo1</code>" fica embutido dentro do "<code>arquivo2</code>".
	<h4 class='subtitle' id='opcoes'>Opções:</h4>
	<ul>
		<li>
			<b>-ef/--embedfile &lt;arquivo&gt;</b>: recebe como parâmetro o arquivo que vai ser embutido.
		</li>
		<li>
			<b>-cf/--coverfile &lt;arquivo&gt;</b>: recebe como parâmetro o arquivo que vai ser usado para camuflagem. Arquivos suportados AU, BMP, JPEG ou WAV, pode ser encontrado no <a href='http://steghide.sourceforge.net/documentation/manual.pdf'>site&#x2197;</a>.
		</li>
		<li>
			<b>-sf/--stegofile &lt;arquivo&gt;</b>: recebe como parâmetro o nome do arquivo embutido.
		</li>
		<li>
			<b>-e/--encryption &lt;algoritmo&gt &lt;modo&gt;</b>: recebe dois parâmetros um algoritmo e um modo não importando a ordem em que vai ser recebido. Para ver os tipos de suportados usar o comando "<code>steghide encinfo</code>", usar -e sem nada para não encriptar. Por padrão é encriptado em <i>rujndael-128</i> (AES) utilizando <i>cbc</i>
		</li>
		<li>
			<b>-z/--compress &lt;1-9&gt;</b>: recebe como parâmetro um número de 1 a 9. Sendo 1 maior velocidade e 9 a melhor compressão.
		</li>
		<li>
			<b>-Z/--dontcompress</b>: não comprime os dados
		</li>
		<li>
			<b>-K/--nochecksum</b>: ele não embuteCRC32. Coloque se não quiser que ele gaste 32 bits a mais de memória ou já tem um <i>cheksum</i>.
		</li>
		<li>
			<b>-N/--dontembeedname</b>: essa opção faz com que o não coloque o nome dentro do arquivo.
		</li>
	</ul>
</div>
<h4 class='subtitle' id='exemplos'>Exemplos:</h4>
<div class='container'>
	<p>Extrair:</p>
	<p>Um arquivo da imagem "<code>fotosecreta.jpeg</code>" para "<code>texto_super_secreto</code>".</p>
	<code class='tab block'>steghide extract -sf fotosecreta.jpeg -xf texto_super_secreto</code>
	<p>Embutir:</p>
	<p>Um arquivo "<code>senha_super_secreta</code>" em "<code>sweater_weather.wav</code>" com o nome "<code>senhazinha</code>".</p>
	<code class='tab block'>steghide embed -ef senha_super_secreta -cf textosupersecreto -sf senhazinha</code>
	<p>Um arquivo "<code>nudes.jpg</code>" em "<code>garden.bmp</code>" com criptografia rc2 no modo cbc</p>
	<code class='tab block'>steghide embed -ef nudes.jpg -cf garden.bmp -e rc2 cbc</code>
</div>
