---
layout: enciclopedia
title: Windows
type: categoria
---

<div class='container'>
	<p>Sistema operacional Microsoft Windows. <b>Ainda</b> o mais utilizado entre usuários casuais.</p>
</div>
<h4 class='subtitle'>Ferramentas:</h4>
<div class='container'>
	<ul>
		<li>PowerShell</li>
	</ul>
</div>

