---
layout: enciclopedia
title: JohnTheRipper
type: ferramenta (linux, mac, windows)
---

<h4 class='subtitle' id='descricao'>Descrição:</h4>
<div class='container'>
	<p><code>john</code> é uma ferramenta para craquear hashes em arquivos.</p>
	<p>A ferramenta é um pouco enjoado quanto à formatação do arquivo de entrada,
	então para algumas das hashes que você achar, vai ter que "traduzi-las" para
	serem consumidas como entrada.</p>
	<ul>
		<li>
			ssh2john - chaves SSH para o formato john
		</li>
		<li>
			unshadow - junta os arquivos `/etc/passwd` e `/etc/shadow` no formato john
		</li>
	</ul>
</div>
<h4 class='subtitle' id='uso'>Uso:</h4>
<div class='container'>
	<code>john [opção]... &lt;arquivo hash&gt;</code>
	<h4 class='subtitle' id='opcoes'>Opções:</h4>
	<ul>
		<li>
			<b>--wordlist=&lt;wordlist&gt;</b>: <p>Define uma <a href='/wlist'>wordlist</a> customizada
			para utilizar</p>
		</li>
	</ul>
</div>
<h4 class='subtitle' id='exemplos'>Exemplos:</h4>
<div class='container'>
</div>
